*{
  margin: 0 auto;
  width: 800px;
  font-size: 170px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
}

h2{
  text-align: center;
  padding: 20px 0px;
  font-size: 50px;
}


.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  font-size: 16px;
}
