*{
  margin: 0 auto;
  width: 800px;
  font-size: 170px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 0px;
}

.box{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
}

h2{
  text-align: center;
  padding: 0px 0px;
  font-size: 50px;
}


.box{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
    margin:0px;
  padding: 0px;
  width: 150px;
  height: 50px;
}
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
}

footer{
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.buttons{
  display: flex;
  justify-content: center;
}

